<!DOCTYPE html>
<html ng-app="ShoppingListApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-repeat</title>
    <script src="../../lib/angular.js"></script>
    <script src="app.js"></script>
</head>
<body>
<h1>ng-repeat</h1>
<div ng-controller="ShoppingListController">
    <div>test: {{test}}</div>

    <!--list1-->
    <h3>Shopping list:</h3>
    <ul>
        <li ng-repeat="item in shoppingList1">{{ item }}</li>
    </ul>

    <!--list2-->
    <input type="text" ng-model="shoppingList2[5].quantity">
    <ul>
        <li ng-repeat="item in shoppingList2 | filter : search">
            <b>{{$index}}</b> quantity: {{item.quantity}}; name: {{item.name}}
        </li>
    </ul>


    <input type="text" ng-model="newItemName" placeholder="item name">
    <input type="text" ng-model="newItemQuantity" placeholder="item quantity">
    <button ng-click="addToList()">Add to list</button>

    <br>
    filter: <input type="text" ng-model="search">


</div>

</body>
</html>